html {
    background-color: #eaddee;
  }
  
  #navbar {
    background-color: #070540;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
  }
  
  h1 {
    text-align: center;
    margin: 40px auto;
    font-family:'Times New Roman', Times, serif;
    font-size: 45px;
  }

  #navbar header {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    color: #f6ede8;
    font-weight: bold;
    padding-bottom: 20px;
    border: 2px solid #f6ede8;
    vertical-align: middle;
  }
  
  @media (max-width: 1000px) {
    #navbar {
      width: 30vw;
    }
    main {
      margin-left: 30vw;
    }
  }
  
  
  #navbar .nav-link {
    color: #f6ede8;
    text-decoration: none;
    padding: 0;
    display: flex;
  }
  
  #navbar li {
    display: list-item;
    list-style: none;
    position: relative;
    padding: 10px 5px 10px 0;
    margin-left: 0;
    border-left: 0;
    height: 50px;
    border-top: 1px solid #f1bc90;
    font-size: 25px;
  }
  
  main {
    color: #000000;
    display: block;
    margin-left: 300px;
    padding: 20px 50px 20px 50px;
  }
  
  @media (max-width: 1000px) {
    main {
      margin-left: 30vw;
    }
  }
  
  h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 0;
    text-transform: uppercase;
    color: #f23558;
  }
  
  section {
    font-size: 25px;
    padding-bottom: 20px;
  }
  
  section header {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
    color: #f25050;
  }

  .book-image {
    display: block;
    align-items: center;
    margin: 0 auto;
    width: 306px;
    height: 445px;
    border: 3px solid #f23558;
  }

  span {
    font-style: italic;
    font-weight: bold;
  }
