*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(
        #f0ae8e 10%,
        #f6f1ee 30%,
        #618cac 50%,
        #f6f1ee 70%,
        #f6c67a 90%
    );
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}

img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    transition: 0.25s;
}

.image {
    width: 18%;
    height: 300px;
    border-radius: 4px;
    overflow: hidden;
    margin: 20px 0;
}

.image:hover img {
    transform: scale(1.2);
}

.gallery {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    color: white;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: 0.5s;
}

.close {
    position: fixed;
    top: 15px;
    right: 25px;
    font-size: 35px;
}

.control {
    font-size: 35px;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
}

.control.prev {
    left: 15px;
}

.control.next {
    right: 15px;
}

.gallery-inner {
    width: 20%;
    height: 70%;
    margin: 0 auto;
}

.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.hide {
    display: none;
}