@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    height: 100vh;
    background: linear-gradient(#3575d1, #7d4ed4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview {
    width: 500px;
    border: 2px dashed white;
    display: block;
    height: 500px;
    border-radius: 5px;
    color: white;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.preview i {
    font-size: 50px;
    margin-bottom: 20px;
}

.preview img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.error {
    color: white;
    font-size: 21px;
}