:root {
    --pink-color: #e26e70;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
    background-image: linear-gradient(45deg, rgb(65, 88, 208) 0%, rgb(200, 88, 192) 50%, rgb(255, 204, 112) 100%);
}

.open-modal-btn {
    padding: 20px 40px;
    border: none;
    outline: none;
    border-radius: 6px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.modal {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.modal-inner {
    width: 400px;
    position: relative;
    top: 50%;
    margin: auto;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    animation: modalShow 0.2s linear;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: var(--pink-color);
    color: white;
}

.fa-circle-xmark:hover {
    cursor: pointer;
}

.modal-body {
    padding: 15px;
}

.modal-body h2 {
    color: var(--pink-color);
    margin-bottom: 10px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
}

.modal-footer button {
    padding: 10px 20px;
    color: white;
    background: var(--pink-color);
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.hide {
    display: none;
}

@keyframes modalShow {
    from{
        top: -200px;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 1;
    }
}