@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #4daf54;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #4daf54, #3d8888);
    font-family: "Poppins";
}

.card {
    margin: 120px auto;
    width: 320px;
    height: 400px;
    background: #272d40;
    padding: 20px;
    border-radius: 15px;
    color: white;
    position: relative;
}

.card-heart, .card-cart {
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 15px;
    cursor: pointer;
    z-index: 2;
}

.card-cart {
    left: unset;
    right: 20px;
}

.card-img {
    width: 90%;
    transition: 0.5s;
}

.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title, .card-price {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
}

.card-title {
    color: var(--primary-color);
}
.card-size, .card-color {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card-size span {
    padding: 1px 10px;
    background: #dadada;
    color: black;
    border-radius: 5px;
    margin: 0 2px;
    cursor: pointer;
}

.card-color span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.card-color-green {
    background: green;
}
.card-color-red {
    background: red;
}
.card-color-black {
    background: black;
}

.card-action button {
    background: var(--primary-color);
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
    transition: 0.25s;
    cursor: pointer;
}

.card-action button:hover {
    transform: scale(0.9);
}

.card:hover .card-img {
    transform: translateY(-90px) rotate(-20deg);
}

.card:hover .card-title {
    transform: translate(-38px, -72px);
}

.card:hover .card-price {
    transform: translate(-117px, -72px);
}

.card-size {
    margin-top: 150px;
}

.card-size, .card-color, .card-action {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.4s;
}

.card:hover .card-size, .card:hover .card-color, .card:hover .card-action {
    visibility: visible;
    opacity: 100;
}


.card:hover .card-size {
    margin-top: -30px;
}