body {
    background-color: #124559;
    color: #f2d49b;
    font-family: Sans-serif;
    font-size: 16px;
  }
  
  #title {
    font-size: 50px;
    text-align: center;
    margin: 30px auto 0 auto;
  }
  
  #sub-title {
    font-size: 20px;
    text-align: center;
  }
  
  #img-div {
    text-align: center;
    display: block;
    margin: 50px auto;
  }
  
  #image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    padding-bottom: 10px;
  }
  
  section, footer {
    max-width: 700px;
    margin: auto;
    
  }
  
  #img-caption, #thank-you {
    font-style: italic;
  
  }
  
  #footer {
    background-color: #f2d49b;
    display: block;
    padding: 0;
  }
  
  footer > p {
    text-align: center;
    padding: 0;
    margin: 5px;
    color: #124559;
  }
  #author {
    padding-top: 10px;
  }
  
  #status{
    padding-bottom: 10px;
  }
  
  #thank-you {
    padding-top: 0;
    padding-bottom: 10px;
  }
  
  a {
    color: #f2ab91;
  }
  
  a:hover {
    color: #88f2e8;
  }